#header{
  background: rgba(64,64,64, 1);
  padding-bottom: 100px!important;
}
.header-text{
  color: #FFFFFF;
  margin-top: 50px!important;
  margin-bottom: -80px;
}
#grad-cert-link{
  font-size: 20px!important;
  background: #E85D04!important;
  border-style: none;
  width:400px;
  height:40px;
}
#grad-cert-link:hover{
  background: #DC2F02!important;
  border-style: none;
  width:400px;
  height:40px;
}
#projects{
  margin-top: 20px!important;
  text-align: left;
}
h3{
  margin-top: 50px!important;
  font-family: 'Satisfy', cursive!important;
  font-size: 40px;
  color: #0e387a;
}
#individual{
  padding: 20px!important;
  border-radius: 10px!important;
  background: #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#finch-robot{
  padding: 20px!important;
  border-radius: 10px!important;
  margin-bottom: 50px!important;
  background: #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#button{
  width:10%;
  background: #E85D04!important;
  font-size: 20px!important;
  border-style: none;
  margin-top: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: width 2s;

}
#button:hover{
  background: #DC2F02!important;
  border-style: none;
  width: 25%;
}
#button3{
  width:10%;
  background: #E85D04!important;
  font-size: 20px!important;
  border-style: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: width 2s;
}
#button3:hover{
  background: #DC2F02!important;
  border-style: none;
  width: 25%;

}
.p-5.border{
  border: 10px solid #9fafca!important;
  border-radius: 8px;
}
#human-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
#carpark-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
#parking-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}
#dice-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}
#fr-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
@media only screen and (max-width: 950px) {
  body {
    background-color: white;
    /* overflow-x: hidden; */
    font-size: 16px!important;


  }
  .header-text{
    color: #FFFFFF;
    margin-top: 0px!important;
    margin-bottom: -80px;
  }
  #grad-cert-link{
    width:300px!important;
    font-size: 16px!important
  }
  #projects{
    width:100%!important;
    margin-top:4px!important;
    text-align: left;
  }
  h3{
    font-size: 28px;
  }
  #individual{
    padding-top: 20px!important;
    border-radius: 10px!important;
  }
  .col.text-center.pt-4{
    align-content: center;
    padding-bottom: 10px;
  }
  .col.text-center.pt-1{
    margin-top: -50px;
    align-content: center;
    padding-bottom: 10px;
  }
  #button{
    width: 50%;
    font-size: 16px!important;
  }
  #button3{
    width: 50%;
    font-size: 16px!important;
    margin-top: 50px;
  }
  #human-image{
    width: 50%;
  }
  #carpark-image{
    width: 60%;
  }
  #parking-image{
    width: 45%;
  }
  #dice-image{
    width: 45%;
  }
  #fr-image{
    width: 60%;
  }

}
