html, body{
  height:100%;
}
.logo{
  margin-left: 130px!important;
}
.justify-content-end{
  margin-right: 130px!important;
}
.coloring{
  margin-right: 15px!important;
}

div.footer{
  position:fixed;
  bottom:0;
  height:50px;
}

@media only screen and (max-width: 950px) {
  .logo{
    margin-left: 10px!important;
  }
  .logo-mobile{
    width:200px;
  }
  .justify-content-end{
    margin-right: 0px!important;
  }
  .course{
    transform: translate(40%, -0%);
  }
  .project{
    transform: translate(40%, -0%);
  }
}
